################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RazorPagesMovie/.vs/RazorPagesMovie/v15/Server/sqlite3/db.lock
/MvcMovie/.vs/MvcMovie/v15/Server/sqlite3/db.lock
/ContosoUniversity/.vs/ContosoUniversity/v15/Server/sqlite3/db.lock
/EFGetStarted.AspNetCore.ExistingDb/.vs/EFGetStarted.AspNetCore.ExistingDb/v15/Server/sqlite3/db.lock
